<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news.title %>
</p>

<p>
  <b>Description:</b>
  <%= @news.description %>
</p>

<p>
  <b>Price:</b>
  <%= @news.price %>
</p>

<p>
  <b>Image url:</b>
  <img src=" <%= @news.image_url %>"/>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
