<!DOCTYPE html>
<html>
<head>
  <title>GolfStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='header'>
           <!-- Header Image Displayes here -->
        </div>
        <div id='menu'>
           <!-- Header Image Displayes here -->
           <div id="navbar">
			 <ul>
			 <li><a href="/index.html">Home</a></li>
			 <li><a href="/books">Books</a></li>
			 <li><a href="/ebooks">eBooks</a></li>
			 <li><a href="/register">Register</a></li>
			 <li><a href="#">Contact Us</a></li>
			 <li><a href="#">Login</a></li>
			</ul>
		   </div>
        </div>
        <div id='container'>
         <div id="user_nav">
             <% if user_signed_in? %>
                Signed in as <%= current_user.email %>. Not you?
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
               <% else %>
                  <%= link_to "Sign up", new_user_registration_path %> or 
                     <%= link_to "sign in", new_user_session_path %>
               <% end %>
</div>
            <div id='content'>
		<%= yield %>
            </div>
            <div id='first-column'>
            	<div class="searchbox">
            		<h2 class="BoxHeaders">Search</h2>
            		<input type="text" name="search" /><input type="submit" value="Search" />
            	</div>
            	<div class="box">
            		<h2 class="BoxHeaders">Special Offers</h2>
            		<img src="/assets/Books/Pict1.jpg" name="Rotating" id="Rotating1" alt="Special Offers	">

            		<script type="text/javascript">
            			RotateImages(1,0);
            		</script>
            	</div>
            	<div class="box">
            		<h2 class="BoxHeaders">Newly Published</h2>
            		<img src="/assets/Books/Pict1.jpg" alt="New Books">
            	</div>
             
            </div>
        </div>
        <div id='footer'>
            <h6 class="footertext">&copy; Online JonMcC&trade; 2012</h6>
        </div>




</body>
</html>

